Input_files/
whisper_env/
config.py
user records/
audio_clips/
model/
Data/
cache/
emotion_env/
emotion.csv
speech_emotion_recognition/sample_audio/
speech_emotion_recognition/iemocap/emotion_audio_features.csv
speech_emotion_recognition/pytorch_model.bin
wav2vec_small.pt
.venv/
./audio/
venv/


./emotion_env/lib/python3.11/site-packages/llvmlite/binding/libllvmlite.so
./wav2vec_small.pt
./speech_emotion_recognition/pytorch_model.bin
./speech_emotion_recognition/iemocap/emotion_audio_features.csv
./model/model.onnx
./emotion.csv
./cache/w2v2-L-robust-12.6bc4a7fd-1.1.0.zip
./cache/model.zip
./Input_files/long_brain.mp3
./Input_files/long_AI.mp3
./whisper_env/lib/python3.11/site-packages/tensorflow/libtensorflow_cc.so.2
./whisper_env/lib/python3.11/site-packages/tensorflow/libtensorflow_framework.so.2
./whisper_env/lib/python3.11/site-packages/nvidia/cusolver/lib/libcusolver.so.11
./whisper_env/lib/python3.11/site-packages/nvidia/cufft/lib/libcufft.so.11
./whisper_env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_adv_train.so.8
./whisper_env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_adv_infer.so.8
./whisper_env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_cnn_train.so.8
./whisper_env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_cnn_infer.so.8
./whisper_env/lib/python3.11/site-packages/nvidia/cusparse/lib/libcusparse.so.12
./whisper_env/lib/python3.11/site-packages/nvidia/cublas/lib/libcublas.so.12
./whisper_env/lib/python3.11/site-packages/nvidia/cublas/lib/libcublasLt.so.12
./whisper_env/lib/python3.11/site-packages/nvidia/nccl/lib/libnccl.so.2
./whisper_env/lib/python3.11/site-packages/triton/_C/libtriton.so
./whisper_env/lib/python3.11/site-packages/llvmlite/binding/libllvmlite.so
./whisper_env/lib/python3.11/site-packages/ctranslate2.libs/libctranslate2-81fc0d88.so.4.2.1
./whisper_env/lib/python3.11/site-packages/torch/lib/libtorch_cuda.so
./whisper_env/lib/python3.11/site-packages/torch/lib/libtorch_cpu.so
./Data/Meld full.zip
./Data/librispeech/librispeech_test-clean.tar.gz
./Data/librispeech/dev-other.tar.gz
./Data/savee.zip
./Data/1188976.zip
./Data/archive(3).zip
./Data/IEMOCAP_full_release_withoutVideos.tar.gz
./Data/MELD.Raw.tar.gz
./Data/IEMOCAP_full_release.tar.gz
./Data/savee_real.zip
./Data/tess.zip
./Data/creama_d.zip
./Data/meld_full/MELD-Features-Models/MELD.Features.Models/features/bimodal_sentiment.pkl
./Data/meld_full/MELD-Features-Models/MELD.Features.Models/features/text_sentiment.pkl
./Data/meld_full/MELD-Features-Models/MELD.Features.Models/features/text_emotion.pkl
./Data/meld_full/MELD-Features-Models/MELD.Features.Models/features/audio_embeddings_feature_selection_emotion.pkl
./Data/meld_full/MELD-Features-Models/MELD.Features.Models/features/audio_sentiment.pkl
./Data/meld_full/MELD-Features-Models/MELD.Features.Models/features/audio_embeddings_feature_selection_sentiment.pkl
./emotion_env/lib/python3.11/site-packages/llvmlite/binding/libllvmlite.so
./wav2vec_small.pt
./speech_emotion_recognition/iemocap_alternate/best_model_weights.keras
./speech_emotion_recognition/iemocap_alternate/CNN_model_audio_emotion.weights.h5
./speech_emotion_recognition/pytorch_model.bin
./speech_emotion_recognition/iemocap/emotion_audio_features.csv
./model/model.onnx
./emotion.csv
./cache/w2v2-L-robust-12.6bc4a7fd-1.1.0.zip
./cache/model.zip
./Input_files/long_brain.mp3
./Input_files/long_AI.mp3
./whisper_env/lib/python3.11/site-packages/tensorflow/libtensorflow_cc.so.2
./whisper_env/lib/python3.11/site-packages/tensorflow/libtensorflow_framework.so.2
./whisper_env/lib/python3.11/site-packages/nvidia/cusolver/lib/libcusolver.so.11
./whisper_env/lib/python3.11/site-packages/nvidia/cufft/lib/libcufft.so.11
./whisper_env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_adv_train.so.8
./whisper_env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_adv_infer.so.8
./whisper_env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_cnn_train.so.8
./whisper_env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_cnn_infer.so.8
./whisper_env/lib/python3.11/site-packages/nvidia/cusparse/lib/libcusparse.so.12
./whisper_env/lib/python3.11/site-packages/nvidia/cublas/lib/libcublas.so.12
./whisper_env/lib/python3.11/site-packages/nvidia/cublas/lib/libcublasLt.so.12
./whisper_env/lib/python3.11/site-packages/nvidia/nccl/lib/libnccl.so.2
./whisper_env/lib/python3.11/site-packages/triton/_C/libtriton.so
./whisper_env/lib/python3.11/site-packages/llvmlite/binding/libllvmlite.so
./whisper_env/lib/python3.11/site-packages/ctranslate2.libs/libctranslate2-81fc0d88.so.4.2.1
./whisper_env/lib/python3.11/site-packages/torch/lib/libtorch_cuda.so
./whisper_env/lib/python3.11/site-packages/torch/lib/libtorch_cpu.so
./Data/Meld full.zip
./Data/librispeech/librispeech_test-clean.tar.gz
./Data/librispeech/dev-other.tar.gz
./Data/savee.zip
./Data/1188976.zip
./Data/archive(3).zip
./Data/IEMOCAP_full_release_withoutVideos.tar.gz
./Data/MELD.Raw.tar.gz
./Data/IEMOCAP_full_release.tar.gz
./Data/savee_real.zip
./Data/tess.zip
./Data/creama_d.zip
./Data/meld_full/MELD-Features-Models/MELD.Features.Models/features/bimodal_sentiment.pkl
./Data/meld_full/MELD-Features-Models/MELD.Features.Models/features/text_sentiment.pkl
./Data/meld_full/MELD-Features-Models/MELD.Features.Models/features/text_emotion.pkl
./Data/meld_full/MELD-Features-Models/MELD.Features.Models/features/audio_embeddings_feature_selection_emotion.pkl
./Data/meld_full/MELD-Features-Models/MELD.Features.Models/features/audio_sentiment.pkl
./Data/meld_full/MELD-Features-Models/MELD.Features.Models/features/audio_embeddings_feature_selection_sentiment.pkl
